html, body, figure, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: N27;
    src: url(N27-Regular.otf);
}

* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: N27;
    word-break: break-all; 
    text-transform: uppercase;
}

.front,
.back {
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: #FA4616;
}

.front {
    padding: 70px;
}

.back {
    display: flex;
    flex-wrap: wrap;
}

.back h1{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.back a{
    width: 50%;
    height: 50%;
    display: flex;
    z-index: 2;
}

.back img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.back a:nth-of-type(1),
.back a:nth-of-type(2){
    align-items: start;
}

.back a:nth-of-type(3),
.back a:nth-of-type(4){
    align-items: end;
}

.back a:nth-of-type(2),
.back a:nth-of-type(4){
    justify-content: end;
}

/*
mobile view
*/
@media only screen and (max-width: 480px) {
    .front{
        padding: 50px;
    }
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .front{
        padding: 60px;
    }
}