html, body, figure, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: N27;
    src: url(N27-Regular.otf);
}

* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: N27;
    word-break: break-all; 
    text-transform: uppercase;
    font-size: 14pt;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.front,
.back {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.front a{
    color: #651d32;
}

.front {
    color: #651d32;
    background-color: #FA4616;
}

.back a{
    color: #FA4616;
}

.back {
    color: #FA4616;
    background-color: #651d32;
    display: flex;
    flex-wrap: wrap;
}

.front > *,
.back > *{
    width: 100%;
    height: calc(100%/3);
    text-align: center;
    display: flex;
    justify-content: center;
}

.front > *:nth-of-type(3),
.back > *:nth-of-type(3){
    align-items: end;
}

.front img,
.back img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/*
mobile view
*/
@media only screen and (max-width: 480px) {
    .front,
    .back {
        width: 100%;
        height: 50vh;
    }
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .front,
    .back {
        width: 100%;
        height: 50vh;
    }
}